<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-theme="inflection">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% if title %}
                {{ title }} —
            {% endif %}Inflection Engineering</title>
        <meta name="theme-color" content="#000e1e"/>
        <link rel="stylesheet" href="/assets/main.bundle.css">
        <script src="/assets/main.bundle.js" defer></script>
    </head>
    <body class="bg-base-100">
        {{ content | safe }}
    </body>
</html>