---
layout: base.njk
---

<div class="navbar bg-base-100 border-b border-base-300">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">
      <img src="/assets/logo.png" alt="Inflection Engineering" class="h-8"/>
    </a>
  </div>
  <div class="navbar-end">
    <a href="/#why-us" class="btn btn-ghost">Why us?</a>
    <a href="/case-studies/" class="btn btn-ghost btn-soft">Case studies</a>
  </div>
</div>
{{ content | safe }}
<!-- Footer -->
<footer class="footer footer-center p-10 text-base-content">
  <div class="text-center">
    <img src="/assets/logo.png" alt="Inflection Engineering" class="h-12 mx-auto mb-4"/>
    <p class="text-base-content/75">Helping CTOs adapt faster, when it matters most.</p>
    <p class="text-base-content/50">Inflection Engineering &copy; 2024-{{ "now" | date("YYYY") }}</p>
  </div>
</footer>