---
layout: base.njk
title: Not found
permalink: 404.html
---

<div class="hero min-h-screen bg-gradient-to-b from-primary/50 to-bg">
  <div class="hero-content text-center">
    <div class="w-xl max-w-[90vw] text-base-content glass backdrop-blur-sm p-8 rounded-lg">
      <a href="/" title="Visit homepage">
        <h1 class="flex justify-center items-center mb-8">
          <img class="w-48" src="/assets/logo.png" alt="Inflection Engineering" />
        </h1>
      </a>
      <p class="my-12 text-balance">
        Page not found, new friend—<br/>
        No worries, we're still nearby.<br/>
        Drop us a quick note.
      </p>
      <div class="flex space-x-4 justify-center">
        <a class="btn btn-primary" href="mailto:hello@inflection.engineering?subject=Page%20not%20found">Get in touch</a>
      </div>
    </div>
  </div>
</div>